{%set active_page='path'%}
{%extends 'linkolearn_theme/templates/base.html'%}
{%block head%}
<title>{{path.slug.replace('-', ' ')}}</title>
<style type="text/css">
	 .stat-elem a, a:hover,a:visited, a:focus {
	    text-decoration:none;
	}
	.stat-icon {
		color: #FFF;
	}
	.links{
	
	}
	.links a {
		
		border-bottom: 1px solid orange;
		color: rgb(59, 95, 255);
	}
</style>
{%endblock%}
{%block body%}
<br>
<br>
<div class="container">
	<div class="text-right">
		{%if current_user == path.path_user%}
		<a href="{{ url_for('linkolearn.edit_path', path_id=path.id) }}">
			<button class="btn btn-danger">
				<i class="fa fa-pencil-alt"></i>
			</button>
		</a>
		<a href="{{ url_for('linkolearn.delete_path', path_id=path.id) }}">
			<button class="btn btn-warning" style="background-color: red; color: white"
				onclick="return confirm('Are you sure you want to delete this item?');">
				<i class="fa fa-trash"></i>
			</button>
		</a>
			{%if path.is_visible%}
			<a href="{{ url_for('linkolearn.toggle_visibility', path_id=path.id, next=path.get_url()) }}">
				<button class="btn btn-success">
					<i class="fa fa-globe-africa"></i>
				</button>
			</a>
			{%else%}
			<a href="{{ url_for('linkolearn.toggle_visibility', path_id=path.id, next=path.get_url()) }}">
				<button class="btn btn-info">
					<i class="fa fa-globe-africa"></i>
				</button>
			</a>
			{%endif%}


			<a href="#" class="stat-elem">
			<div class="btn-group" role="group" aria-label="Basic example">
			  <button id='pass-but' type="button" class="btn {{ 'btn-success' if path.is_password_protected else 'btn-info'}} text-reset"><i style="color: white !important" class="fa fa-key"></i></button >
			  <input id="pass-input" type="password" class='btn  text-reset  bg-white text-dark'  style="border: 1px solid black; border-left: None;">
			</div>
		</a>
		{%endif%}
		<a href="{{ url_for('linkolearn.toggle_like', path_id=path.id, next=path.get_url()) }}" class="stat-elem">
			<div class="btn-group" role="group" aria-label="Basic example">
			  <button type="button" class="btn {{ 'btn-success' if current_user in path.like_list.users else 'btn-info'}} text-reset "><i class="fa fa-heart stat-icon"></i></button>
			  <button type="button" class="btn {{ 'btn-success' if current_user in path.like_list.users else 'btn-info'}} text-reset  bg-white text-dark">{{ len(path.like_list.users) }}</button>
			</div>
		</a>
		<a href="{{ url_for('linkolearn.toggle_bookmark', path_id=path.id, next=path.get_url()) }}" class="stat-elem">
			<div class="btn-group" role="group" aria-label="Basic example">
			  <button type="button" class="btn {{ 'btn-success' if current_user in path.bookmark_list.users else 'btn-info'}} text-reset "><i class="fa fa-bookmark stat-icon"></i></button>
			  <button type="button" class="btn {{ 'btn-success' if current_user in path.bookmark_list.users else 'btn-info'}} text-reset  bg-white text-dark">{{ len(path.bookmark_list.users) }}</button>
			</div>
		</a>
		
	</div>
	<div class="row">
		<div class="col-9 ">
			<div>
				<div>
					{% set username = path.path_user.username %}
					 <h3><a href="{{ url_for('www.user_profile', username=username) }}">{{ username }}</a> / {{ path.slug }}</h3>
					
				</div>
			</div>
			<br>
			<br>
			{%if not path.is_password_protected%}
				{% for section in path.sections %}
					<h4>{{ section.title }}</h4>
					<hr>
					{% for link in section.links %}
						{%if link.url.startswith('[') %}
							{%set extract = path.extract_link(link.url)%}
							<p class="links p-0 mb-1"><b>*</b> <a href="{{ extract.href }}"> {{ extract.text }}</a></p>
						{%else%}
						<p class="links p-0 mb-1"><b>*</b> <a href="{{ link.url }}"> {{ link.url }}</a></p>
						{%endif%}
					{% endfor %}
					<br>
					<br>
				{% endfor %}

			{% else %}
				{% if has_entered_password %}
					{% for section in path.sections %}
						<h4>{{ section.title }}</h4>
						<hr>
						{% for link in section.links %}
						<p class="links p-0 mb-1"><b>*</b> <a href="{{ link.url }}"> {{ link.url }}</a></p>
						{% endfor %}
						<br>
						<br>
					{% endfor %}
				{%else%}

					This is password protected! <br><br>
					<form>
				        <input id="check-pass-input" class="form-control" type="password" name="password" placeholder="Password" required><br>
				        <input  type="hidden" name="csrf_token" value="{{csrf_token()}}">
				        <button id="check-pass-but" class="btn btn-primary" >Submit</button>
				    </form>
			    {%endif%}
			{%endif%}
		</div>
		<div class="col-3">

		</div>
	</div>
</div>


<script type="text/javascript">


document.addEventListener("DOMContentLoaded", function () {
	{%if current_user == path.path_user%}

    // Get the password button and input
    const passwordButton = document.querySelector("#pass-but");
    const passwordInput = document.querySelector("#pass-input");
    
    // Attach event listener to the button
    passwordButton.addEventListener("click", function () {
    	event.preventDefault();

        const pathId = "{{path.id}}"; // Assuming path_id is stored as a data attribute
        const password = passwordInput.value.trim();


        // Perform an AJAX POST request
        const formData = new FormData();
		formData.append("password", password);  // Add password field
		formData.append("csrf_token", '{{csrf_token()}}');  // Add CSRF token
        fetch(`{{url_for('linkolearn.toggle_password', path_id=path.id)}}`, {
            method: "POST",
            headers: {
                "X-CSRFToken": '{{csrf_token()}}'
            },
            body: formData,
        })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Failed to toggle password protection.");
                }
            })
            .then((data) => {
                if (data.status === "success") {
                    alert("Password protection toggled successfully!");
                    // Optionally reload or update UI dynamically
                    window.location.reload();
                } else {
                    alert("Error toggling password protection.");
                }
            })
            .catch((error) => {
                console.error(error);
                // alert("An error occurred while toggling password protection."+password);
            });
    });

    {%endif%}

   

    {% if has_entered_password == False %}

    const passwordCheckButton = document.querySelector("#check-pass-but");
    const passwordCheckInput = document.querySelector("#check-pass-input");
    

    
    passwordCheckButton.addEventListener("click", function (event) {

    	event.preventDefault();
    	const password = passwordCheckInput.value.trim();
    	const formDataC = new FormData();
		formDataC.append("password", password);  // Add password field
		formDataC.append("csrf_token", '{{csrf_token()}}');  // Add CSRF token

        const pathId = "{{path.id}}"; // Assuming path_id is stored as a data attribute
        

        // Perform an AJAX POST request
        fetch(`{{url_for('linkolearn.check_password', path_id=path.id)}}`, {
            method: "POST",
            headers: {
                "X-CSRFToken": '{{csrf_token()}}'
            },
            body: formDataC,
        })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Failed to check password");
                }
            })
            .then((data) => {
                if (data.status === "success") {
                    alert("Password checked successfully!");
                    // Optionally reload or update UI dynamically
                    window.location.reload();
                } else {
                    alert("Error checking pass");
                }
            })
            .catch((error) => {
                console.error(error);
                // alert("An error occurred while checking."+password);
            });
    });

    {% endif %}

    // Function to get CSRF token from cookies
    function getCsrfToken() {
        const name = "csrf_token=";
        const decodedCookie = decodeURIComponent(document.cookie);
        const cookies = decodedCookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.indexOf(name) === 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
    }
});
</script>
{%endblock%}