{%set active_page='profile'%}
{%extends 'linkolearn_theme/templates/base.html'%}
{%block head%}
<title>Save link</title>
{%endblock%}
{%block body%}
<div class="max-w-screen-xl mx-auto px-4 p-8">
    <div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg flex flex-col md:flex-row min-h-[300px]">
        <!-- Profile Section -->
        <div class="w-full md:w-2/6 bg-gray-100 flex flex-col items-center p-6">
            <i class="em {{user.emoji_class}} w-20 h-20 p-1 rounded-full mb-4 ring-2 ring-gray-300 dark:ring-gray-500"></i>
            <h2 class="text-lg font-semibold">{{user.get_first_name()}}</h2>
            <h2 class="text-lg font-semibold">{{user.get_last_name()}}</h2>
            <span class="link">
  <a href="{{user.get_profile_url()}}" class="text-blue-500 hover:text-blue-700">
    @{{user.username}}
  </a>
</span>


            {%if user == current_user%}
            <br>
            <a href="/linkolearn/settings">
                <button type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                    <i class="fa fa-wrench"></i>
                </button>
            </a>
            {%endif%}
        </div>
        <!-- Info Section -->
        <div class="w-full md:w-4/6 flex flex-col flex-grow">
            <!-- Top Section -->
            <div class="p-6 border-b flex-grow">

            </div>
            <!-- Bottom Section -->
            <div class="p-6 flex-grow">
                <!-- Path and Section Selection -->
        <div id="shared-link-container">
          
        </div>
        <div>
          <label for="path-select">Choose a Path:</label>
          <select id="path-select" onchange="loadSections()">
            <option value="">Select a Path</option>
          </select>
        </div>
        <div>
          <label for="section-select">Choose a Section:</label>
          <select id="section-select">
            <option value="">Select a Section</option>
          </select>
        </div>
        <br>
        <form id="save-link-form" action="/save-link" method="POST">
          <input id="form-url" type="text" name="url" value="https://example.com" 
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          required>
          <input type="hidden" id="form-section" type="text" name="section_id" value="" 
          required>
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}" required>
          <br>
          <button id="form-save" type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Save Link</button>
        </form>

        <div id="output"></div>

  <script>

    // DOM Elements
    const pathSelect = document.getElementById('path-select');
    const sectionSelect = document.getElementById('section-select');
    const sharedLinkContainer = document.getElementById('shared-link-container');

    // Fetch Paths
    async function fetchPaths() {
      const response = await fetch('{{url_for('linkolearn.get_paths')}}');
      const paths = await response.json();
      pathSelect.innerHTML = `
        <option value="">Select a Path</option>
        ${paths.map(path => `
          <option value="${path.id}">${path.title}</option>
        `).join('')}
      `;
    }

    // Fetch Sections for a Path
    async function loadSections() {
      const pathId = pathSelect.value;
      if (!pathId) return;

      const response = await fetch(`/linkolearn/api/paths/${pathId}/sections`);
      const sections = await response.json();
      sectionSelect.innerHTML = `
        <option value="">Select a Section</option>
        ${sections.map(section => `
          <option value="${section.id}">${section.title}</option>
        `).join('')}
      `;
    }

    // Handle Shared Links
    window.addEventListener('DOMContentLoaded', async () => {
      await fetchPaths();

      // Extract shared data from URL parameters
      const urlParams = new URLSearchParams(window.location.search);
      const sharedTitle = urlParams.get('title');
      const sharedText = urlParams.get('text');
      const sharedUrl = urlParams.get('url');

      if (sharedUrl) {
        // Display shared link details

        document.querySelector('#form-url').value = sharedUrl;

      } else {
        fetchUserLinks();
      }
    });


    document.getElementById("section-select").addEventListener("change", function () {
      const selectedValue = this.value;
      document.getElementById("form-section").value = selectedValue;
    });


  </script>
            </div>
        </div>
    </div>
</div>
{%endblock%}