{% extends "base/main_base.html" %}

{% set active_page = "login" %}
{% block pagehead %}
	<title>{{active_page.capitalize()}}</title>
	<style>
        .hidden {
            display: none;
        }

        .show {
            display: inline-block;
        }

        .active {
            width: 6rem;
            color: white;
            background-color: #34ce57;
        }

        .inactive {
            width: 6rem;
            color: white;
            background-color: #ff253a;
        }

        .all_inactive {
            display: none;
        }
    </style>  

{% endblock %}
{% block content %}

	<div class="grid h-full w-full place-items-center bg-gradient-to-br to-[#ff8080]/40 via-[#ff8080]/5 from-white">
		<div class="bg-white/50 border-[#ff8080]/10 border-2 rounded-lg w-full max-w-md p-8">
			<div class="mb-4 text-center">
				<a href="/"><img src="/static/linkolearn.svg" width="50" height="auto" class="object-contain mx-auto"></a>
			</div>
			<form action="{{url_for('auth.login')}}" method="POST">
				{% include 'auth/blocks/login_form.html' %}
			</form>
		</div>
	</div>
        
{% endblock %}